<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <form action=" " method="post">
            <label for="First name">First name</label>
            <input type="text" id="firstname" name="firstname">
            <label for="Last name">Last name</label>
            <input type="text" id="lastname" name="lastname">
            <label for="Username">Username</label>
            <input type="text" id="username" name="username">
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password">
            <button type="submit">Sign Up</button> 
        </form>

    <!--Add a registration form here -->
    </body>
</html>